<a href="https://colab.research.google.com/github/forfran/GenerativeAI/blob/main/Python-Bootcamp/1-Python_for_Dummies.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Syntax and Semantics in Python

- Single line Comments and multiline comments
- Definition of Syntax and Semantics
- Basic Syntax Rules in Python
- Understanding Semantics in Python
- Common Syntax Errors and How to Avoid Them
- Practical Code Examples

Syntax refers to the set of rules that defines the combinations of symbols that are considered to be correctly structured programs in a language. In simpler terms, syntax is about the correct arrangement of words and symbols in a code.

Semantics refers to the meaning or the interpretation of the symbols, characters, and commands in a language. It is about what the code is supposed to do when it runs.

In [ ]:
## Basic Syntax Rules In Python
## Case sensitivity- Python is case sensitive

name="Krish"
Name="Naik"

print(name)
print(Name)

Krish
Naik

### Indentation
Indentation in Python is used to define the structure and hierarchy of the code. Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

In [ ]:
## Indentation
## Python uses indentation to define blocks of code. Consistent use of spaces (commonly 4) or a tab is required.

age=32
if age>30:

    print(age)

print(age)

32
32

In [ ]:
## This is a single line comment
print("Hello World")

Hello World

In [ ]:
## Line Continuation
##Use a backslash (\) to continue a statement to the next line

total=1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [ ]:
## Multiple Statements on a single line
x=5;y=10;z=x+y
print(z)

15

In [ ]:
##Understand  Semnatics In Python
# variable assignment
age=32 ##age is an integer
name="Krish" ##name is a string

In [ ]:


type(age)

int

In [ ]:
type(name)

str

In [ ]:
## Type Inference
variable=10
print(type(variable))
variable="Krish"
print(type(variable))

<class 'int'>
<class 'str'>

In [ ]:
age=32
if age>30:
    print(age)

32

In [ ]:
## Name Error
a=b

NameError: name 'b' is not defined

In [ ]:
## Code exmaples of indentation
if True:
    print("Correct Indentation")
    if False:
        print("This ont print")
    print("This will print")
print("Outside the if block")

Correct Indentation
This will print
Outside the if block

### Variables
Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

- Introduction to Variables
- Declaring and Assigning Variables
- Naming Conventions
- Understanding Variable Types
- Type Checking and Conversion
- Dynamic Typing
- Practical Examples and Common Errors

In [ ]:
a=100

In [ ]:
## Declaring And Assigning Variables

age=32
height=6.1
name="Krish"
is_student=True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)

age : 32
Height: 6.1
Name: Krish

In [ ]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name="KRish"
last_name="Naik"

In [ ]:
# Invalid variable names
#2age=30
#first-name="Krish"
##@name="Krish"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1710987940.py, line 4)

In [ ]:
## case sensitivity
name="Krish"
Name="Naik"

False

In [ ]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime
age=25 #int
height=6.1 #float
name="KRish" #str
is_student=True #bool

print(type(name))

<class 'str'>

In [ ]:
## Type Checking and Conversion

type(height)

float

In [ ]:
age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [ ]:
age='25'
print(type(int(age)))

<class 'int'>

In [ ]:
name="Krish"
int(name)

ValueError: invalid literal for int() with base 10: 'Krish'

In [ ]:
height=5.11
type(height)

float

In [ ]:
float(int(height))

5.0

In [ ]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [ ]:
## input

age=int(input("What is the age"))
print(age,type(age))

23 <class 'int'>

In [ ]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Sum: 66.0
Difference: 46.0
Product: 560.0
Quotient: 5.6

## DataTypes
#### 1. Definition:

- Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
- They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

#### 2. Importance of Data Types in Programming
Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.


1. Introduction to Data Types
2. Importance of Data Types in Programming
3. Basic Data Types
   - Integers
   - Floating-point numbers
   - Strings
   - Booleans
4. Advanced Data Types
   - Lists
   - Tuples
   - Sets
   - Dictionaries
5. Type Conversion
6. Practical Examples

In [ ]:
## Integer Example
age=35
type(age)

int

In [ ]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [ ]:
## string datatype example
name="Krish"
print(name)
print(type(name))

Krish
<class 'str'>

In [ ]:
## boolean datatype
is_true=True
type(is_true)

bool

In [ ]:
a=10
b=10

type(a==b)

bool

In [ ]:
## common errors

result="Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [ ]:
result="Hello" + str(5)
print(result)

Hello5

## Deep Dive into Operators


1. Introduction to Operators
2. Arithmetic Operators
   - Addition
   - Subtraction
   - Multiplication
   - Division
   - Floor Division
   - Modulus
   - Exponentiation
3. Comparison Operators
   - Equal to
   - Not equal to
   - Greater than
   - Less than
   - Greater than or equal to
   - Less than or equal to
4. Logical Operators
   - AND
   - OR
   - NOT
5. Practical Examples and Common Errors

In [ ]:
## Arithmethic Operation

a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation

exponent_result=a**b ## Exponentiation


print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [ ]:
10/5

2.0

In [ ]:
21/5

4.2

In [ ]:
21//5

4

#### Comparison Operators

In [ ]:
## Comparison Operators
## == Equal to
a=10
b=10

a==b

True

In [ ]:
str1="Krish"
str2="Krish"

str1==str2

True

In [ ]:
## Not Equal to !=
str1!=str2

False

In [ ]:
str3="Krish"
str4="krish"

str3!=str4

True

In [ ]:
# greater than >

num1=45
num2=55

num1>num2

False

In [ ]:
## less than <

print(num1<num2)

True

In [ ]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [ ]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

True

#### Logical Operators

In [ ]:
## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [ ]:
X=False
Y=True

result =X and Y
print(result)

False

In [ ]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [ ]:
# Not operator
X=False
not X

True

In [ ]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Addition: 16.0
Subtraction: 8.0
Multiplication: 48.0
Division: 3.0
Floor Division: 3.0
Modulus: 0.0
Exponentiation: 20736.0